img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
  
}

.flex-container {
display: flex;
flex-wrap: wrap;
margin-bottom: 5%;
margin-right: 5%;
}


.landmarkName {
  font-size: 1.75em;
  color: #C13584;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  font-family: 'Rancho', cursive;
  height: 20%
  }

.landmarkNameAndLinkContainer {
display: flex;
flex: 0;
flex-direction: column;
width: 10%;
padding: 2%;
}

.link {
font-size: 1em;
color: black !important;
font-weight: bold;
font-family: 'Caveat', cursive;
font-family: 'Rancho', cursive;
}
