img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.landmarkName {
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 10%;
}

.flex-item-right {
  flex: 90%;
  align-items: center;
  justify-content: flex-end;
}

td {
    padding: 25px;
  }

td .images {
    justify-content: right;
}

/* link:visited {
color:#00FF00;
}

link:hover {
color:#FF00FF;
} */

p, .landmarkName {
  font-size: 1em;
  color: #C13584;
  /* font-weight: bold; */
  }
  