@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rancho&display=swap');

h2{
    font-family: 'Caveat', cursive;
    font-family: 'Rancho', cursive;
}

.flexbox-wrap-container {
    display: flex;
}

/* .flexbox-item {
    margin: 10px;
    border: 3px solid red;
    background-color: white;
} */

.flexbox-left {
    flex: 1;    
    height: 1000px;
    width: auto;
    flex-direction: row;
    justify-content: center;
}   

.flexbox-right{
    flex: 4;
    height: 1000px;
    width: auto;
    flex-direction: row;
    font-family: 'Caveat', cursive;
    font-family: 'Rancho', cursive;

}

.flexbox-left h3{
    font-family: 'Caveat', cursive;
    font-family: 'Rancho', cursive;
}

.perspectiveName{
    justify-content: center;
  }

.landmarkName{
    font-family: 'Caveat', cursive;
    font-family: 'Rancho', cursive;
}

li .selected {
    background-color: plum;
}