nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #C13584;
    }
.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    }

.nav-text {
    color: white;
}

a:link {
    text-decoration: none;
  }

div {
    text-align: center;
    margin-top:
}
  
li {
    display: inline;
  }

nav h3 {
    font-size: 3em;
    color: white;
}