nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    /* background: #C13584; */
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    color: white;
    }
.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    }

.nav-text {
    color: white;
    font-size: 1em;
    /* text-transform: uppercase; */

}

a:link {
    text-decoration: none;
  }

div {
    text-align: center;
    margin-top:
}
  
li {
    display: inline;
  }

nav h3 {
    font-size: 3em;
    color: white;
}

.location {
    color: white;
}
